@CHARSET "UTF-8";

/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header,  menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header,  menu, nav, section {
  display: block;
}
body {
	text-align: center;
    line-height: 1.2;
}
/*form {
	display: inline-block;

}*/

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #3CBC8D;
	color: white;
}
input[type=text]:focus {
	border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

/*table,td {
  border-collapse: collapse;
  border-spacing: 10px;
	border: 1px solid black;
}*/
/* end reset browser styles */

/* Trick to clear floats */
.clear:after {
  content: " ";
  display: table;
  clear: both;
}
.clear {
  zoom: 1;  
}

/* Base page styles */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
HTML {
   min-width: 315px; 
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  /*background-color: rgb(0, 147, 209);
  background-image: url(../img/alamere_bkgd.png);*/
  background-position: center top;
  background-repeat: no-repeat;
}
/* Navigation */
.navigateLogo{
	margin-top: 5px;
}

.navigate{
	float: right;
	text-align: center;
	background-color: rgb(0,147,209);
}

.navigate li{
	float: left;
	border-left: 1px solid white;
	list-style: none;
	vertical-align: middle;
	height: 79px;
	padding: 29px 8px 0px 8px;
	color:white;
}
.navigate li:HOVER {
	background-color: rgb(0,92,132);
	cursor: pointer;
}
.navigateTop{
	background-color: rgb(0, 147, 209);
    background: -webkit-linear-gradient(left, rgb(0, 92, 132), rgb(0, 147, 209), rgb(0, 147, 209)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(0, 92, 132), rgb(0, 147, 209), rgb(0, 147, 209)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(0, 92, 132), rgb(0, 147, 209), rgb(0, 147, 209)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(0, 92, 132), rgb(0, 147, 209), rgb(0, 147, 209)); /* Standard syntax */    
	
}


/* General Document Class */
.footer{
	margin-top: 40px;
}
.col1left{
	margin-left: 40px;
}
.col1right{
	margin-right: 40px;
}
.title{
	margin-top: 2em;
}
.contentPage{
	background-color: white;
}

/* Page Specific */
#pagePerformance{
	display:none;
}
#pageSummary{
	display: inherit;
}

.columnLeft{
	float: left;
	width: 48%;
}
.columnRight{
	float:right;
	width: 48%
}
/*.tables{
	border: 1px solid grey;
	width:100%
}*/
/* Tablet size overrides */
@media (min-width:481px) and (max-width:768px) {
	.columnLeft{
	float: inherit;
	width: inherit;
}
.	.columnRight{
	float:inherit;
	width: inherit;
}
}

/* Phone size overrides */
@media (max-width:480px) {
		.columnLeft{
	float: inherit;
	width: inherit;
}
.	.columnRight{
	float:inherit;
	width: inherit;
}
}