<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

<!--    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/usrMgmt/**" access="permitAll" />
        <intercept-url pattern="/hotelMgmt/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/sandMgmt/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/earthMgmt/**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/**" access="isAuthenticated()" />
        <access-denied-handler error-page="/403.html"/>
        <form-login
                login-page="/usrMgmt/userLogin"
                always-use-default-target="false" />
        &lt;!&ndash; enable csrf protection &ndash;&gt;
        <csrf/>
        <logout />
    </http>

    <beans:import resource="spring-dispatcher-servlet.xml" />

    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="encoder" />
            <user-service>
                <user name="Admin" password="$2a$12$gBKdQYMwZZfGT6Tm2cJG0.VUBO7M6XPRu9Kxn.MhKEmu9v3t1GysO" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>-->

</beans:beans>
